# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Development environment.
/.direnv/

# Output
/internet-notify
/result